<form class="site-header">
  <div class="site-logo">ZenParking <span class="spinner" ng-show="spinning"> </span> <a href="#" style="float: right; text-decoration: underline;" ng-click="getPosition()">Ortung starten</a></div>
  <input type="text" placeholder="Engelhorn, Galeria Kaufhof, …" ng-model="query" ng-model-options="{ debounce: 500 }">
  <input type="date" ng-model="date">
  <rzslider rz-slider-model="time" rz-slider-options="sliderOptions"></rzslider>
</form>

<leaflet layers="layers"
         class="map"
         markers="markers"
         width="100%"
         height="100%"></leaflet>
