/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
$topbar-background: #5AADBB;

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation-sites/scss/foundation';
@include foundation-everything;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.content {
  height: 100%;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


.site-header {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  height: 230px;
}

html, body {
  height: 100%;
}

.map {
  height: calc(100% - 200px) !important;
}

@keyframes spinner {
  0% {
    content: "\\";
  }
  33% {
    content: "|";
  }
  66% {
    content: "/";
  }
  100% {
    content: "-";
  }
}

.spinner {
  margin-left: 20px;
  display: inline-block;
}

.spinner:after {
  content: "";
  animation: spinner .5s infinite;
  animation-timing-function: linear;
  font-family: monospace;
  font-size: 1.2em;
}

.nearest-parkingplaces {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  z-index: 1000;
  border-top: 1px solid gray;
}

.parkingplace {
  position: relative;
  padding-right: 100px;
  border-bottom: 1px solid lightgray;
}

.parkingplace-count {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.9em;
}

.marker {
  &.near:after {
    border-top-color: blue;
  }

  .marker-count {
    position: relative;
    top: -28px;
    background-color: white;
    text-align: center;
  }

  .marker-distance {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -48px;
    background-color: white;
    text-align: center;
    padding: 2px 5px;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-top: 30px solid #4bbcf6;
  }
}

.header {
  padding: 10px;
}

.leaflet-control-layers, .leaflet-control-zoom {
  display: none !important;
}
