.site-logo {
  font-weight: bold;
  border-bottom: 1px solid gray;
}
.days {
  text-align: center;
}
.day-switch {
  padding: 10px;
  border: solid 1px #ccc;
  background: #dddddd;
  border-radius:10px;
  color: #444;

  &.active {
    background-color: #40a5c0;
    color: white;
  }
}

.wisdom {
  margin-top: 30px;
  padding: 10px;
}

.mute {
  font-size: 14px;
  text-align: right;
  color: #444;
  margin-top: 10px;
}
