<div class="header">
  <div class="site-logo">
    ZenParking
    <a style="float: right;" ui-sref="home">Zurück</a>
  </div>
</div>

<highchart id="chart1" config="chartConfig"></highchart>

<div class="days">
  <button class="day-switch" ng-class="{active: currentIndex == 0}" ng-click="switchDay(0)">Mo.</button>
  <button class="day-switch" ng-class="{active: currentIndex == 1}" ng-click="switchDay(1)">Di.</button>
  <button class="day-switch" ng-class="{active: currentIndex == 2}" ng-click="switchDay(2)">Mi.</button>
  <button class="day-switch" ng-class="{active: currentIndex == 3}" ng-click="switchDay(3)">Do.</button>
  <button class="day-switch" ng-class="{active: currentIndex == 4}" ng-click="switchDay(4)">Fr.</button>
  <button class="day-switch" ng-class="{active: currentIndex == 5}" ng-click="switchDay(5)">Sa.</button>
  <button class="day-switch" ng-class="{active: currentIndex == 6}" ng-click="switchDay(6)">So.</button>
</div>

<div class="wisdom" ng-if="wisdom">
  <h2>Fakt des Tages:</h2>
  <span>{{wisdom}}</span>
  <div class="mute">Brought to you by Mannheim Open Data.</div>
</div>
